[*.cs]

# RCS1061: Merge 'if' with nested 'if'.
dotnet_diagnostic.RCS1061.severity = none

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none

# RCS1123: Add parentheses when necessary.
dotnet_diagnostic.RCS1123.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none


# S1199: Nested code blocks should not be used
dotnet_diagnostic.S1199.severity = none

# RCS1003: Add braces to if-else (when expression spans over multiple lines).
dotnet_diagnostic.RCS1003.severity = none

# RCS1003: Add braces to if-else (when statement spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none