<configuration>
    <config>
        <add key="defaultPushSource" value="%gs-nuget%" />
    </config>

    <packageSources>
        <add key="Gehtsoft Repository" value="%gs-nuget%/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>
