<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.1.5">Added line of departure and drop vs line of departure. Added zero elevation calculation accuracy parameter.</version>
  <version id="1.1.4">Add RA4 model, update trajectory calculation for upward or downward line of sight.</version>
  <version id="1.1.3">Update dependencies.</version>
  <version id="1.1.2">Add text alingment to reticle and drawing canvas.</version>
  <version id="1.1.1">First official version.</version>
  <version id="1.1.0.11">Fix spin direction.</version>
  <version id="1.1.0.10">Add zero vertical offset, update dependencies.</version>
  <version id="1.1.0.9">Small fixes, dictionaries for ammo types and calibers added.</version>
  <version id="1.1.0.8">Small fixes, GI table.</version>
  <version id="1.1.0.7">Support form factor and custom plt functions.</version>
  <version id="1.1.0.6">Fix position clone.</version>
  <version id="1.1.0.5">Add clone operation.</version>
  <version id="1.1.0.4">Add serialization extensions, add reticle element formatters.</version>
  <version id="1.1.0.3">Make draw element public for reticle editor.</version>
  <version id="1.1.0.2">Fixes.</version>
  <version id="1.1.0.1">Initial version of trajectory calculator and reticle drawer.</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/gehtsoft-usa/BallisticCalculator1</projectUrl>
  <license type="expression">LGPL-2.1-or-later</license>
  <copyright>Gehtsoft USA LLC 2016-2022</copyright>
  <custom-property id="readme">docs/README.md</custom-property>
 </properties>
 <projects>
   <project id="BallisticCalculator">
    <description>Ballistic Calculator</description>
    <additional-file file="../doc/BallisticCaculator.xml" target="*" />
    <additional-file file="../readme.md" target="docs/" />
   </project>
 </projects>
</nuget>